<body style="margin-top:90px;">

  <p id="notice"><%= notice %></p>

  <%= render_breadcrumbs separator: ' > ' %>

  <h1>Shopping List</h1>

  <table>
    <thead>
      <tr>
        <th>Exhibitted Now</th>
  <!--       <th>Price</th>
        <th>Description</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @goods.each do |good| %>

        <tr>
          <td><%= link_to good.name, good_path(good) %></td>
  <!--         <td><%= good.price %></td>
          <td><%= good.description %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @goods %>

  <br>


</body>