<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @good.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @good.description %>
</p>

<p>
  <strong>Displayed by:</strong>
  <%= link_to @good.user_name, user_show_path(@good.user_name) %>
</p>

<% if current_user.id == @good.user_id %>
  <%= link_to 'Edit', edit_good_path(@good) %> |
  <%= link_to 'Delete', @good, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', goods_path %>
